version: '3.8'

services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    environment:
      - TZ=America/Lima
    ports:
      - "8091:3000"
    volumes:
      - ./backend/gdrive-credentials.json:/app/gdrive-credentials.json:ro
    restart: unless-stopped
