# ======================================
# ZOOM (Server-to-Server OAuth App)
# ======================================
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_ACCOUNT_ID=
ZOOM_WEBHOOK_SECRET=

# ======================================
# GOOGLE DRIVE (Cuenta de servicio)
# ======================================
GDRIVE_CREDENTIALS_PATH=./gdrive-credentials.json
GDRIVE_SHARED_DRIVE_ID=

# ======================================
# MOODLE
# ======================================
MOODLE_URL=https://campusvirtual.mali.pe/
MOODLE_API_TOKEN=77ea4f8ba25d9e42365a8b5efd362f14

# ======================================
# BASE DE DATOS (PostgreSQL en RDS)
# ======================================
DB_HOST=db-maliedu-360.clogttdrrz1b.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASS=Y9vppngg8o1zPSAKifUU
DB_NAME=db_moodle_zoom_gdrive
DB_SSL=true